{% extends 'home.html.twig' %}

{% block admin_home_navigation_items %}

    {{ style({ include: oViewConf.getModuleUrl('eyeable_assist', 'out/css/eyeableassist.css') }) }}
    <div>

        <p>{{ translate({ ident: "EYEABLE_REPORT_TITLE" }) }}</p>
        <p>{{ translate({ ident: "EYEABLE_REPORT_EXPLANATION" }) }}</p>

        {% set eyeablereport = oViewConf.getLatestEyeableReportData() %}

        {% if eyeablereport %}
            <p>{{ translate({ ident: "EYEABLE_LATEST_REPORT_PAGE" }) }}{{ eyeablereport.getTestedPage() }}</p>
            <p>{{ translate({ ident: "EYEABLE_LATEST_REPORT_ERRORCOUNT" }) }}{{ eyeablereport.getErrorCount() }}</p>
            <p>{{ translate({ ident: "EYEABLE_LATEST_REPORT_DATE" }) }}{{ eyeablereport.getReportDate() }}</p>
        {% else %}
            <p>{{ translate({ ident: "EYEABLE_PLEASE_WAIT_FOR_REPORT" }) }}</p>
        {% endif %}
    </div>

    <script>
        window.addEventListener(
            'DOMContentLoaded',
            function () {
                let widgetUrl = '{{ oViewConf.getShopURL() }}' + '/admin/index.php?cl=eyeabletrigger&fnc=triggerEyeableReport';

                const xhttp = new XMLHttpRequest();
                xhttp.open('GET', widgetUrl, true);
                xhttp.onload = () => {
                    if (xhttp.readyState === xhttp.DONE && (xhttp.status === 0 || (xhttp.status >= 200 && xhttp.status < 400))) {
                        console.log('triggered eye-able report');
                    }
                }
                xhttp.send();
            }
        );
    </script>

    {{ parent() }}
{% endblock %}